.flash {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1050;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    text-align: center;
    font-weight: bold;
    color: white;
}

.flash-notice {
    background-color: #28a745; /* Зелений колір */
}

.flash-alert {
    background-color: #dc3545; /* Червоний колір */
}
